body {
	font-size: 10px;
}

a img {
	border: none;
}

#container {
	width: 1024px;
}

#objectsMenu {
	list-style-type:none;
	width: 180px;
        float:left;
}
#toolSize {
	width: 18px;
	list-style-type: none;
	position:relative;
	top: -60px;
	right: -60px;
	
}


#toolSize li{
	margin-bottom: 5px;
}

#objectFileManagement {
	list-style-type: none;
	clear:both;

}


#objectNameTextField {
	margin-bottom:50px;
}

#objectFileManagement li{
	width: 18px;
	float: left;
}

#codeFileManagement {
	list-style-type: none;
	clear:both;

}

#codeFileManagement li{
	width: 18px;
	float: left;
}

#objectCanvas{
	float: left;
}

#builder { float:left;  width:600px; height:400px; }

#arena { position:relative; width:960px; height:600px; }

.clear { clear:both; }
